<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">

    <a class="navbar-brand" href="/">StoryStack</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <% if (locals.user) { %>
       <!-- Left Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog/add-blog">Add Blog</a>
        </li>
      </ul>

      <!-- Center Search Bar -->
      <form class="d-flex mx-auto" role="search" style="width: 400px;">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search Stories..."
        >
        <button class="btn btn-outline-success" type="submit">
          Search
        </button>
      </form>
      <!-- Right Side Logout Button -->
<ul class="navbar-nav ms-auto">
    <li class="nav-item">
        <a href="/user/logout" class="btn btn-outline-danger">
            Logout
        </a>
    </li>
</ul>
      <% } else { %><!-- Right Side Dropdown -->
    <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               href="#"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">
                Account
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a class="dropdown-item" href="/user/login">Login</a>
                </li>
                <li>
                    <a class="dropdown-item" href="/user/signup">Sign Up</a>
                </li>
            </ul>
        </li>
    </ul> <% }%>
     
       
          
    </div>
  </div>
</nav>

<% if (locals.error) { %>
  <div class="container mt-4">
<div class="alert alert-danger" role="alert">
  <%= locals.error %>
</div>
</div>
<% } %> 
